@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:wght@400;700&display=swap");
body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

h2 {
  padding: 0 5px;
  margin: 10px 0;
  background-color: #f2cf07;
  background-image: linear-gradient(315deg, #f2cf07 0%, #55d284 74%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: none;
  font-family: "Lobster", cursive;
}

.app {
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  min-width: 300px;
  padding: 0 20px 15px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 5px 5px 10px #0000001a;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.linia {
  display: flex;
  width: 100%;
  margin-bottom: 5px;
}
.contenidor {
  margin-left: 5px;
  /*width: 3rem;
  height: 3rem;*/
  flex: 1;
  aspect-ratio: 1/1;
  border: solid 2px grey;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

#teclat {
  position: absolute;
  align-self: center;
  width: 600px;
  bottom: 10px;
  display: flex;
  flex-direction: column;
}

.tecles {
  display: flex;
}

.tecla {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  margin: 0.2rem;
  flex: 1;
  border: solid 2px gray;
  border-radius: 4px;
  background-color: white;
  font-size: 1.5rem;
}

.tecla:hover {
  background-color: lightgray;
}

.tecla:active {
  background-color: gray;
}

#fila2 .tecla:first-child,
#fila2 .tecla:last-child {
  flex: 1.5;
  font-size: 1.2rem;
}

.correcte {
  background-color: #55d284;
  border: solid 2px #48b371;
  color: white;
}

.casi {
  background-color: #f2cf07;
  border: solid 2px #ceb005;
  color: white;
}

.nope {
  background-color: grey;
  border: solid 2px darkgray;
  color: white;
}

.error {
  position: relative;
  animation: shake 0.1s linear;
  animation-iteration-count: 2;
}

#modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 5%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
#modal-content {
  position: relative;
  margin: auto auto;
  max-width: 30%;
  background-color: #f5f7fa;
  padding: 30px;
  border-radius: 20px;
  text-transform: none;
  font-size: large;
}

@media only screen and (max-width: 1000px) /*and (orientation: portrait) */ {
  body {
    font-size: 1.8rem;
  }

  .app {
    max-width: 275px;
    width: 70%;
  }

  .contenidor {
    border-width: 1px;
    aspect-ratio: 1 / 1;
  }

  #teclat {
    width: 95%;
    bottom: 10px;
  }
  .tecles {
    margin-top: 5px;
  }

  .tecla {
    height: 3rem;
    margin: 0 0.1rem;
    border-radius: 10px;
    border-width: 1px;
    font-size: 1rem;
  }

  #fila2 .tecla:first-child,
  #fila2 .tecla:last-child {
    flex: 1.5;
    font-size: 0.7rem;
  }

  #modal-content {
    max-width: 80%;
  }
}

@keyframes shake {
  0% {
    left: -5px;
  }
  100% {
    right: -5 px;
  }
}
